.user-name-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-name-text {
  font-weight: 800;
}

@media screen and (max-width: 959px) {
  .users-card-container {
    width: 83%;
  }
}

@media screen and (max-width: 580px) {
  .users-card-container {
    width: 73%;
  }
}
