.post-gallery-body-text {
  margin-bottom: 1.5rem;
}

.read-more-button {
  background-color: rgb(75 71 67 / 86%);
  color: #fff;
  height: 2em;
  width: 30%;
}
.author-header {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  align-self: center;
  color: rgb(83, 72, 59);
}
.post-title {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-transform: capitalize;
  text-align: left;
}

@media screen and (max-width: 959px) {
  .read-more-button {
    width: 50%;
  }
  /* .posts-card-container {
    width: 83%;
  } */
}
@media screen and (max-width: 580px) {
  .read-more-button {
    width: 50%;
    font-size: 11px;
    height: 1.8rem;
  }
  /* .posts-card-container {
    width: 73%;
  } */
  .post-gallery-body-text {
    margin-bottom: 0.3rem;
  }
}
